<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Audio Correction Tool</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Video Audio Correction Tool</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="video_file">Upload a Video File (mp4, mov):</label>
        <input type="file" name="video_file" id="video_file" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
